/* Information  */

.information-classes {
    background-color: white;
    width: 100%;
    text-align: center;
    
}

.mid-information-classes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ffe4ee73;
    font-family: 'Merriweather', serif;
    font-weight: 400; /* Regular */
    padding-top: 10px;


}

.top-information-classes {
    margin-bottom: 20px;
    
}

.center-classes {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    max-width: 100%;
}

.icon-classes {
    height: 275px;
    width: 275px;
    border-radius: 15px;
    background-color: white;
    padding: 3px;
    max-width: 100%;
}

.center-classes img {
    transition: transform 0.2s ease, opacity 0.2s ease;

}

.center-classes img:hover {
    transform: scale(1.05);
    opacity: 0.8;
}

.header-information-classes {
    margin: 50px;
    font-size: 36px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: normal;
    
}

.text-classes {
    font-size: 25px;
    text-align: left;
    word-break: break-word; /* Break long words to fit within the container */
    max-width: 100%; /* Ensure it doesn't overflow */
    
}

.title_links-classes {
    color: white;
    font-family: "Mukta", sans-serif;
  font-weight: 1000;
  font-style: normal;
    text-align: center;
    font-size: 45px;
    margin-top: 5px;
    text-shadow: 
        -1.5px -1.5px 0 #999999d5,  
        1.5px -1.5px 0 #999999d5,
        -1.5px 1.5px 0 #999999d5,
        1.5px 1.5px 0 #999999d5;

}

.info1-classes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(158, 159, 159);
}


@media (max-width: 1019px) {

    /*Content*/
    .mid-information-classes{
        flex-direction: column;
    }
    
    .center-classes {
        width: 100%;
        flex-direction: column;
    }
    
    .text-classes{
        font-size: 19px;
        width: 80%;
    }
    
    .title_links-classes{
        line-height: 0;
        font-size: 39px;
        margin-top: 30px;
    }
}