/* src/styles/CartPage.css */

.information-cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
    padding-bottom: 25px;
}

.cart-page {
    padding: 20px;
    background-color: #f7f7f7;
    width: 80%;
    max-width: 1200px;
    border-radius: 10px;

}

.cart-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 25px;
}

.cart-total-price{
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 55px;
    text-align: left;

}

.block {
    height: 2px;
    width: 50px;
    min-width: 50px;
    max-width: 50px;
    margin-right: 10px;
}

.cart-items ul {
    list-style-type: none;
    padding: 0;
}
.cart-items li {
    display: flex; 
    align-items: center;
    margin-bottom: 10px;
}

.name-price-INS img{
    width: 50px;
    margin-right: 10px;
}

.cart-items img { 
    width: 50px;
    margin-right: 10px;
}

.payment form {
    display: flex;
    flex-direction: column;
}

.payment label {
    margin: 5px 0;
}

.payment input {
    margin-bottom: 10px;
}

.payment button {
    margin-top: 10px;
}

.header-information-cartpage {
    margin: 50px;
    font-size: 36px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.cart-page ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cart-page li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cart-page-remove {
    margin-left: auto;
    padding: 8px 12px;
    background-color: #929292;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.315);
    gap: 10px
}


.cart-page-remove:hover {
    background-color: #ed93b4;
}

.block-remove{
    width: 54px;
    height: 14px;
    padding: 8px 12px;
    margin-left: auto;
    min-width: 32.45px;
    max-width: 32.45px;

}

.cart-page .notification {
    margin-bottom: 20px;
    color: rgb(255, 255, 255);

}

.price {
    font-size: medium;
    color: rgb(0, 0, 0);
}

.line {
    top: 0;
    left: 0;
    width: 98%;
    height: 1px;
    background-color: #000000;
    margin-top: 15px;
}

.total-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 77.7%;
}

.total-text {
    font-size: larger;
    padding-top: 10px;
}

.total-number{
    font-size: larger;
    padding-top: 10px;
    font-weight: bold;
}

.name-price{
    padding-right: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 66.8%;
}

.item-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 600; /* Bold */
    width: 60%;
}


.checkout-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 4px;
}

.checkout-button:hover {
    background-color: #45a049; /* Darker shade for hover */
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
} 

.name-price-INS {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-from-user {
    margin-top: 25px;
    padding-left: 30%;
    padding-right: 30%;
}

.information-User, .payment {
    width: 100%;
  }
  
  .title-form {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1px;
    margin-top: 5px;
  }
  
  .form-user, .payment div {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 1px;
    font-weight: bold;
  }
  
  input {
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 1em;
  }
  
  .checkout-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
  }
  
  .checkout-button:hover {
    background-color: #45a049;
  }
/* Check out notification */ 

/* Media query for mobile devices */
@media (max-width: 1019px) {
    .cart-container{
        flex-direction: column;
    }

    .cart-total-price,
    .payment {
        width: 100%;
        padding: 0;
    }

    .payment {
        padding-top: 20px;
    }

    .name-price-INS{
        width: 108%;
    }

    .name-price{
        width: 61%;
    }

    .item-name{
        width: 80px;
        font-size: 12px;
    }

    .price{
        font-size: 13px;
    }


    .cart-page li{
        width: 108%;
    }

    .cart-page ul{
    margin-bottom:0px ; 
   }

    .cart-page-remove {
        height: 28px;
        width: 57px;
        font-size: 8px;
    }

    .total-price {
        width: 87.1%;
    }

    .form-from-user {
        margin-top: 45px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .block-remove{
        height: 28px;
        width: 57px;
        
    }

}