/*Information*/


.center-class {

    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 23px;
    background-color: white;
    border: 2px solid pink;
    color: black;
}

.icon-class {
    height: 250px;
    width: 250px;
    border-radius: 20px 0px 0px 20px;

}

.center-class img {
    transition: transform 0.2s ease, opacity 0.2s ease;

}

.center-class:hover img {
    transform: scale(1.001);
    opacity: 0.7;
}

.center-class:hover .class_links-class {
    text-decoration: underline;
}

.description-class {
    text-decoration: none;
}



.header-information-class {
    margin: 50px;
    font-size: 36px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.text-class {
    font-size: 25px;
    width: 350px;
    text-align: left;
    line-height: 1.4;
    padding-left: 25px;
    word-break: break-word; /* Break long words to fit within the container */
    max-width: 100%; /* Ensure it doesn't overflow */
    
}

.space-class{
    height: 25px;
}

.class_links-class {
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 600; /* Semi-bold */
    padding-right: 15px;
    padding-left: 15px;
}

.info1-class {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(158, 159, 159);

}

.imagen-link{
    height: 250px;
}

.description-class {
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
}

@media (max-width: 1019px) {

    /*Content*/
    .mid-information-class {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    
    .center-class {
        flex-direction: column;
        text-align: center;
        width: 249px;

    }
    
    .text-class {
        font-size: 19px;
        width: 220px;
    }

    .class_links-class{
        padding-left: 0px;
        padding-right: 0px;
    }

    .description-class{
        padding-left: 0px;
        padding-right: 0px;
    }

    .icon-class {
        border-radius: 20px 20px 0px 0px;
    }


}
