/*Information*/


.center-class {

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
    max-width: 100%;
}

.icon-class {
    height: 250px;
    width: 250px;
    border-radius: 20px;
    background-color: white;
    padding: 5.5px;
}

.center-class img {
    transition: transform 0.2s ease, opacity 0.2s ease;

}

.center-class img:hover {
    transform: scale(1.05);
    opacity: 0.8;
}

.header-information-class {
    margin: 50px;
    font-size: 36px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.text-class {
    font-size: 25px;
    width: 550px;
    text-align: left;
    line-height: 1.4;
    padding-left: 25px;
    word-break: break-word; /* Break long words to fit within the container */
    max-width: 100%; /* Ensure it doesn't overflow */
    
}

.class_links-class {
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 600; /* Semi-bold */
    padding-right: 15px;
    padding-left: 15px;
}

.info1-class {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(158, 159, 159);

}

.description-class {
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
}

@media (max-width: 1019px) {

    /*Content*/
    .mid-information-class {
        flex-direction: column;
    }
    
    .center-class {
        width: 100%;
        flex-direction: column;
    }
    
    .text-class {
        font-size: 19px;
        width: 80%;
        padding-right: 25px;
    }

    .text-classes {
        padding-left: 0px;
    }

}
