/* Header */

body {
    margin: 0;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
}

.top-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
}

.line1 {
    width: 100%;
    height: 1.5px;
    background-color: #ed93b4;
    border-color: #ed93b4;
}

.right-header-links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    gap: 75px;
    height: 100px;
    font-size: 29px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500; /* Bold */
    padding-right: 15px;
}

a {
    text-decoration: none;
    color: #ed93b4;
}

.image-header {
    width: 170px;
    height: 90px;
    object-fit: cover;
    display: block;
    margin-left: 15px;
}

/* New styles for mobile menu */
.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon .bar {
    width: 35px;
    height: 3px;
    background-color: #000;
    margin: 5px ;
    transition: 0.4s;
}

@media (max-width: 768px) {
    /*Header*/

    .top-header{
        display: flex;
        flex-direction: column;
        
    }


    .right-header-links {
        flex-direction: column;
        gap: 20px;
        padding-top: 1px;
        padding-bottom: 1px;
        font-size: 23px;
        position: static; /* Changed from absolute to static */
        width: 100%;
        background-color: #fff;
        height: auto; /* Let height expand naturally */
        overflow: hidden;
        transition: max-height 0.3s ease-in-out; /* Smooth height transition */
        max-height: 0; /* Start with menu collapsed */
        margin-top: 5px;
        margin-bottom: 10px;
        padding-left: 10px;
        padding-right: 1px;
        align-items: flex-start;
    }

    .header {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start; /* Align items to the start */
    }

    .image-header {
        padding-right: 15px;
        width: 150px;
        height: 75px;
        padding-bottom: 5px;
        padding-top: 15px;
    }

    .header-button {
        background-color: white;
        padding-left: 15px;
        color: #ed93b4;
    }

    .menu-icon {
        display: flex;
        padding-right: 20px;
        padding-top: 30px;
        background-color: white;
        
    }

    .border-menu{
        background-color: #f0f0f0;
        border-color: black;
        padding: 10px;
        border-radius: 10px;
    }

    .border-menu.clicked {
        background-color: #b9b9b9; /* Change to desired color on click */
    }

    .right-header-links.open {
        max-height: 2500px; /* Adjust this value based on the number of menu items */

    }
}
