
/*Information*/

.information-module {
    width: 100%;
    text-align: center;
    background-color: white;
}

.mid-information-module {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffd8e659;
    font-family: 'Merriweather', serif;
    font-weight: 400; /* Regular */
}


.header-information-module {
  margin: 50px;
  font-size: 36px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.text-module {
    margin-bottom: 10px;
    font-size: 20px;
    width: 615px;
    text-align: left;
    line-height: 1.4;

}

.class_links-module {
  color: black;
  font-family: 'Lato', sans-serif;
  font-weight: 600; /* Semi-bold */
}

.gallery-module {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-image-module img{
    margin-top: 25PX;
    width: 300px;
    height: 515px;
    border-radius: 15px;
    margin-bottom: 20px;
    background-color: white;
    padding: 3px;

}

.second-image-module img{
    margin-top: 25PX;
    width: 375px;
    height: 700px;
    border-radius: 15px;
    margin-bottom: 20px;
    background-color: white;
    padding: 3px;

}

.thumbnails-module {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.thumbnails-module img {
    width: 100px;
    height: 180px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    border-radius: 15px; 
}

.thumbnails-module img:hover {
    transform: scale(1.1);
}

ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/*schedule buttons*/
.button-schedule{
    list-style-type: none;
    padding: 0;
}

.button-schedule li {
    display: flex;
    align-items: center;
  }
  
  .button-schedule label {
    margin-left: 5px;
  }

/* Cart button */

.add-to-cart-button {
    background-color: #ed93b4; 
    border: none; 
    color: white;
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none;
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 12px; 
    transition: background-color 0.6s ease; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.315);

  }
  
  .add-to-cart-button:hover {
    background-color: #ffffff; 
    color: #ed93b4;
  }
  
  .add-to-cart-button {
    font-weight: bold;
  }
  
  .notification {
    color: white;
    font-weight: bold;
    background-color: green;
    padding: 15px 32px; /* Some padding */
    text-align: center; /* Centered text */
    border-radius: 12px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.315);
  }

  .cart-notification {
    color: white;
    font-weight: bold;
    background-color: grey;
    padding: 15px 25px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.315);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.6s ease; /* Smooth transition for background color */

  }

  .cart-notification:hover {
    color: rgb(122, 122, 122);
    background: rgb(243, 243, 243);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.315);

  }

  .error-notification {
    color: red;
    font-weight: bold;
    background-color: white;
    padding: 15px 32px; /* Some padding */
    text-align: center; /* Centered text */
    border-radius: 12px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.315);
  }
  

/*Cart style*/
.cart {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    margin: 20px 0;
  }
  
  .cart h2 {
    margin-top: 0;
  }
  
  .cart ul {
    list-style-type: none;
    padding: 0;
  }
  
  .cart li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
  }

  /* Style for the label wrapping the checkbox and text */
  .checkbox-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }

  .checkbox-container input[type="checkbox"] {
    margin-right: 10px; /* Space between checkbox and text */
    accent-color: #007bff; /* Change the color of the checkbox */
    transform: scale(1.4); /* Slightly increase the size of the checkbox */
  }

  .checkbox-container label {
  font-size: 16px;
  color: #333; /* Dark gray text color */
  cursor: pointer; /* Show pointer cursor on hover */
}
  
/*Imagen Modal*/

.gallery-module {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-image-module {
  cursor: pointer;
  margin-bottom: 1rem;
}

.main-image-module img {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s;
}

.main-image-module img:hover {
  transform: scale(1.05);
}

.thumbnails-module {
  display: flex;
  gap: 10px;
}

.thumbnail-module {
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
  transition: transform 0.3s, border-color 0.3s;
}

.thumbnail-module:hover {
  transform: scale(1.05);
}

.active-thumbnail {
  border-color: #007bff;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  
}

.modal-content {
  position: relative;
}

.modal-image {
  max-width: 70%;
  max-height: 90%;
  
}

.modal-image:hover {
  
  transition: transform 0.3s;
}


@media (max-width: 1019px) {

    /*Content*/

    .main-image-module img{
        width: 300px;
        height: 500px;
    }

    .second-image-module img {
        width: 315px;
        height: 570px;
    }

    .text-module {
        font-size: 19px;
        width: 80%;
    }

    .modal-image {
      max-width: 85%;
    }

}